name: Run TFLint check

on:
  - push

jobs:
  tflint-check:
    name: Run TFLint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Cache plugin dir
        uses: actions/cache@v4
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - name: Show version
        run: |
          tflint --version

      - name: Run init
        run: |
          tflint --init

      - name: Run check
        run: |
          tflint --recursive --format=compact --no-color

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Run TFLint check
